[Unit]
Description=DNSSEC Key Management
After=rabbitmq-server.service

[Install]

[Service]
Type = simple
User = signer
Environment = PYTHONPATH=@PREFIX@/lib
ExecStart = @PREFIX@/bin/ods-keyops

