[Unit]
Description=DNSSEC Voting for Key Deletion (INCOMPLETE)
After=rabbitmq-server.service

[Install]

[Service]
Type = simple
#TODO#HOME#
Environment = PYTHONPATH=@PREFIX@/lib PATH=@PREFIX@/bin/ods-votes:@PREFIX@/bin:$PATH
ExecStart = @PREFIX@/bin/ods-votes-recv

