[Unit]
Description=DNSSEC Voting for Key Deletion (INCOMPLETE)
After=rabbitmq-server.service

[Install]

[Service]
Type = simple
User = signer
Environment = PYTHONPATH=@PREFIX@/lib PATH=@PREFIX@/bin/ods-votes:@PREFIX@/bin:/bin:/usr/bin:/sbin:/usr/sbin
ExecStart = @PREFIX@/bin/ods-votes-recv

