# List of accounts with their respective passwords.
# By running the various commands under different uids,
# it is possible to constrain access to mutual queues.
#
# This may be used to manage security tightly.  Do note
# that the PKCS #11 PIN is stored elsewhere, and is
# a much more important security concern.
#
[accounts]
admin		= TODO_INDIVIDUAL_PASSWORD
portal		= TODO_INDIVIDUAL_PASSWORD
registrar	= TODO_INDIVIDUAL_PASSWORD
uplink		= TODO_INDIVIDUAL_PASSWORD
backup		= TODO_INDIVIDUAL_PASSWORD
parenting	= TODO_INDIVIDUAL_PASSWORD
confsigner	= TODO_INDIVIDUAL_PASSWORD
pkcs11update	= TODO_INDIVIDUAL_PASSWORD
odsrpc		= TODO_INDIVIDUAL_PASSWORD
collectkeyops	= TODO_INDIVIDUAL_PASSWORD
zoneloader	= TODO_INDIVIDUAL_PASSWORD

# General setup for RabbitMQ clients
#
[rabbitmq]
signer_cluster = signer-cluster
host = localhost
port = 5671
vhost = MyNiche
signer_machines = signer1 signer2
backup_machines = backupper
plugindir = /usr/local/myniche/lib
ca_certs = /etc/ssl/certs/mynicheCA.pem
# backend = opendnssec
backend = knot

# General setup for PKCS #11
#
[pkcs11]
libfile = /usr/lib/libcs_pkcs11_R2.so
token_label = DNSSEC
pinfile = /path/to/my/pkcs11/userpin.file
curve_name = P-256
backup_dir = /var/opendnssec/hsm

# General setup for OpenDNSSEC
#
# [opendnssec]
# zonelist_file = /etc/opendnssec/zonelist.xml
# saltfile = /var/opendnssec/fixed-salt.txt
# upload_dir = /var/opendnssec/upload
# unsigned_dir = /var/opendnssec/unsigned
# signed_dir = /var/opendnssec/signed

# General setup for Knot DNS
#
[knot]
upload_dir = /var/opendnssec/upload
unsigned_dir = /var/opendnssec/unsigned
signed_dir = /var/opendnssec/signed

# Setup for the ods-rsync-zonedata system.
# Make sure to create the fifo with "mknod p".
#
[ods-rsync-zonedata]
username = portal
trigger_fifo = /home/portal/newzonedata.fifo
pickle_jar = /home/portal/oldzonedata.picklejar
upload_dir = /home/portal/upload
zone_prefix = 
zone_postfix = 

# Setup of ods-keyops system.
#
[ods-keyops]
hsm_sync_cmd = ods-utimaco-send

# Setup for the ods-zonedata-recv system.
#
[ods-zonedata-recv]
username = zoneloader

# Setup for the ods-utimaco system, both -send and -recv.
#
[ods-utimaco]
username = pkcs11update
pkcs11_dumpfile = /var/opendnssec/hsm/DNSSEC.keys
pkcs11_restorefile = /var/opendnssec/hsm/DNSSEC.remotekeys

# Setup of ods-rpc (may or may not be used by ods-rpc itself).
#
[ods-rpc]
username = odsrpc
routing_key = key_ops
rpc_dir = /var/opendnssec/rpc


# Setup for the ods-parenting system, including Parenting Exchange
#
# For development purposes, an override can be made:
#  - auth_ns can be forced to a given (local) name server
#  - dsttl_TLD can be set to a TTL to assume/force for that TLD
#
[ods-parenting]
parenting_dir = /var/opendnssec/parenting/
hashalgs = SHA256
signer_ns = 127.0.0.1
auth_ns = 123.45.67.89
local_dsttl = 3600
dsttl_nl  = 3600
dsttl_com = 86400
dsttl_net = 86400
dsttl_org = 86400
dsttl_eu  = 86400


# Setup for the ods-registry system, excluding general parenting
#
# Settings for specific registries are in registry_NAME_VAR
#
[ods-registry]
lockfile = /tmp/ods-registry.lock
# plugin_nl = sidn
# plugin_com = stargate
# plugin_net = stargate
# plugin_org = stargate
#
#LIVE# registry_sidn_host = drs.domain-registry.nl
registry_sidn_host = testdrs.domain-registry.nl
registry_sidn_port = 700
#LIVE# registry_sidn_account  = 12345
registry_sidn_account  = 12345
#LIVE# registry_sidn_password = sekreet
registry_sidn_password = sekreet
registry_sidn_calist = /etc/ssl/certs/ca-certificates.crt
registry_sidn_epplock = /tmp/drs-epp.lock
#
registry_stargate_account = 12345
registry_stargate_password = sekreet
registry_stargate_api_domains = https://httpapi.com/api/domains/
registry_stargate_api_actions = https://httpapi.com/api/actions/


# Setup for pruning of the backups on the Backup machine.
#
[ods-backup-prune]
summary_dir = summary
historic_dir = historic
fileops_plugin = fileops-utimaco
retain_keys = P2D
retain_midnight = P14D
retain_merges = P7D
retain_forever = P1M



#
# End of configuration file
#
