[Unit]
Description = DNSSEC Backup Machines -- collective service target
Conflicts = surfdomeinen-signer-machine.target
After    = ods-backup-stash.service
Requires = ods-backup-stash.service
BindsTo  = ods-backup-stash.service

[Install]

