[Unit]
Description = DNSSEC Backup Machines -- collective service target
Conflicts = surfdomeinen-signer-machine.target
After    = ods-backup-stash.service ods-backup-prune.service
Requires = ods-backup-stash.service ods-backup-prune.service
BindsTo  = ods-backup-stash.service ods-backup-prune.service

[Install]
WantedBy = multi-user.target

