[Unit]
Description=DNSSEC Uplink to various Parent Registries
After=rabbitmq-server.service

[Install]

[Service]
Type = simple
User = signer
Environment = PYTHONPATH=@PREFIX@/lib
ExecStart = @PREFIX@/bin/ods-registry

