[Unit]
Description=RSync Zone Data passed into RabbitMQ
After=rabbitmq-server.service

[Install]

[Service]
Type = simple
User = portal
Environment = PYTHONPATH=@PREFIX@/lib
ExecStart = @PREFIX@/bin/ods-rsync-zonedata

