[Unit]
Description=DNSSEC Zone Data Receiver
After=rabbitmq-server.service

[Install]

[Service]
Type = simple
User = signer
Environment = PYTHONPATH=@PREFIX@/lib
ExecStart = @PREFIX@/bin/ods-zonedata-recv

