[Unit]
Description=DNSSEC Generic Parenting
After=rabbitmq-server.service

[Install]

[Service]
Type = simple
User = signer
Environment = PYTHONPATH=@PREFIX@/lib
ExecStart = @PREFIX@/bin/ods-generic-parent

