[Unit]
Description=DNSSEC Parenting Exchange
After=rabbitmq-server.service

[Install]

[Service]
Type = simple
#TODO#HOME#
Environment = PYTHONPATH=@PREFIX@/lib
ExecStart = @PREFIX@/bin/ods-parenting-exchange

