[Unit]
Description=DNSSEC Backup Stashing
After=rabbitmq-server.service

[Install]

[Service]
Type = simple
Environment = PYTHONPATH=@PREFIX@/lib
ExecStart = @PREFIX@/bin/ods-backup-stash

